* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

h1 {
    padding-top: 50px;
    text-align: center;
    color: white;
    background-color: black;
}

.Form-Container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: black;

}

.form {
    border-radius: 10px;
    padding-top: 20px;
    background-color: #6b00f5;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 220px;
}

.form input {
    padding: 10px;
}

.form label {
    color: white;
}

.btn {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.signup-btn {
    border-radius: 10%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}